WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=
WORKOS_COOKIE_DOMAIN=
WORKOS_COOKIE_MAX_AGE=2592000
WORKOS_COOKIE_NAME=wos-session
WORKOS_COOKIE_SAMESITE=lax
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3002/callback
NEXT_PUBLIC_ONBOARDING_URL=http://localhost:3002
NEXT_PUBLIC_CONSOLE_URL=http://localhost:3001
OPENAI_API_KEY=
AI_VOICE_MODEL=gpt-4o-mini-tts
AI_VOICE_NAME=coral
